:root {
  --primary-white: #fff;
  --secondary-white: #f2dfd7;
  --dark-white: #ffffffe7;
  --accent-color: #D4C1EC;
  --text-color: #333333;
  --primary-blue: #9F9FED;
  --secondary-blue: #736CED;
  --border-radius: 16px;
  --padding-primary: 5vw;
  --padding-secondary: 2.5vw;
}
body {
    background-color: var(--primary-white);
}
#container {
    display: grid;
}
#library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5vw;
    padding: var(--padding-primary);
    color: var(--text-color);
    background-color: var(--primary-white);
    overflow: hidden;
    padding: 10vw 20vw;
}
#addBtn {
    position: fixed;
    top: 3vw;
    right: 3vw;
    transform: scale(2);
}
#add-btn {
    transition: transform .5s ease-in-out;
}
#add-btn:hover {
    transform: rotate(360deg) scale(1.5);
}
#add-btn:focus,
#popUpExit:focus,
input:focus {
    outline: none;
}

.card,
#popUp {
    position: relative;
    border-bottom: solid 5px var(--secondary-white);
    padding: 5vw 3vw ;
    border-radius: var(--border-radius);
    background-color: var(--primary-white);
    box-shadow: -2px 2px 15px var(--secondary-white);
    text-align: center;
}
.card:hover {
    transform: translateY(-30px);
    cursor: pointer;
    border: outset 2px var(--accent-color);
    box-shadow: -2px 2px 20px var(--accent-color);
}
h2 {
    text-shadow: none;
    padding: 1vw;
}
.scrollHidden {
    overflow: hidden;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.hidden {
    display: none;
}
#popUp {
    width: 40vw;
    height: 30vw;
    padding: 1vw;
    position: relative;
}
#popUpExit img,
.deleteBtn img {
    transform: rotate(45deg) scale(1.5);
}
#popUpExit,
.deleteBtn {
    border-radius: 50%;
    border: outset 3px var(--secondary-white);
    background-color: var(--primary-white);
    padding: .5vw;
    position: absolute;
    top: -10px;
    right: -10px;
}
#popUpExit:hover,
.deleteBtn:hover {
    border: inset 3px var(--accent-color);
    box-shadow: -2px 2px 20px var(--accent-color);
}
label {
    font-size: 1.5vw;
    font-weight: 900;
    color: var(--text-color);
}
form {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    gap: 2vw;
    padding: 1vw;
    margin-top: 1vw;
}
input {
    padding: 1vw;
    text-align: center;
    border: outset 1px var(--secondary-white);
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 4px var(--text-color);
    color: var(--text-color);
}
input:focus {
    border: inset 1px var(--accent-color);
    box-shadow: 1px 1px 4px var(--accent-color);
}
#submitBtn {
    font-size: 1.2vw;
    font-weight: 900;
}
